<p class="datumsAnzeige">{{ dateTimeNow }}</p>
<div>
    <table>
            <tr>
                <th></th>
                <th>nachts</th>
                <th>morgens</th>
                <th>mittags</th>
                <th>abends</th>
            </tr>
            <tr *ngFor="let day of (day$ | async)">
               <td>{{ day.dayForecast }}</td>
               <td *ngFor="let section of getSections(day.section); let i = index">
                   <div *ngIf=" i === section.index ">
                       <!-- {{ section.weather.description }} --> 
                       <img [src]="section.weather.icon">
                    </div>
               </td> 
            </tr>
    </table>
</div>
